{{ header }}
version: 2
updates:

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      # Check for updates to GitHub Actions every week
      interval: "weekly"
    assignees:
      - "reinout"

{% if extra_lines %}
{{ extra_lines }}
{% else %}
# Configure extra_lines if you want more content. Watch the indentation.
# Example:
# [dependabot]
# extra_lines = """
#   - package-ecosystem: "github-actions"
#     directory: "/"
#     ...
{% endif %}
