{{ header }}

# Note: the setup is mostly copied from https://github.com/plone/meta/tree/main/config/default
name: {{ workflow_name }}
on:
  push:
    branches:
      - master
      - main
  pull_request:
    branches:
      - master
      - main
  workflow_dispatch:

jobs:
  test:
    name: Test
    runs-on: "ubuntu-latest"
    strategy:
      matrix:
        python-version: {{ python_versions_string }}
        # You can customise the python versions in .nens.toml, [{{ section_name }}] > python_versions.
        include:
{%      for pair in python_tox_pairs %}
          - python-version: "{{ pair.python }}"
            tox-env: "{{ pair.tox }}"
{%      endfor %}
    steps:
{% raw %}
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Cache packages
        uses: actions/cache@v4
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ matrix.python-version }}-${{ hashFiles('tox.ini') }}
          restore-keys: |
            ${{ runner.os }}-pip-${{ matrix.python-version }}-
            ${{ runner.os }}-pip-
      - name: Install dependencies
        run: python -m pip install tox
      - name: Run tests with ${{ matrix.tox-env }}
        run: |
            touch for_step_summary.md
            tox -e ${{ matrix.tox-env }}
            cat for_step_summary.md >> $GITHUB_STEP_SUMMARY

{% endraw %}


{% if extra_lines %}
{{ extra_lines }}
{% else %}
# Configure extra_lines if you want more content. Watch the indentation.
# Example:
# [workflow_test or workflow_meta]
# extra_lines = """
#   my_env:
#     name: "my env"
#     ...
{% endif %}
